.tab-header{
    background-color:white;
    color: #27ade6;
    font-family: Arial, Helvetica, sans-serif, Times New Roman;

}

.tabs{
    font-family: Arial, Helvetica, sans-serif, Times New Roman;

}